{% extends "base.html" %} 
{% load static %}
{% block title %}Contact | Ahmad Gas Center{% endblock%} 
{% block content %}
<div id="main" class="mt-16 mb-4 sm:mt-28">
	<div class="flex flex-col justify-center items-center sm:flex-row gap-[60px] sm:gap-[120px] mb-14 sm:mb-24" >
		<div class="item flex flex-col justify-center items-center">
			<span class="mb-2.5 sm:mb-6"><img src="{% static 'image/location.png' %}" alt=""></span>
			<p class="libertinus-sans-regular text-[40px] my-5 opacity-60">Our Address</p>
			<div>

				<p class="font-semibold w-48.5 text-center ">Main G.T Road Amrat Pura </p>
				<p class="font-semibold w-48.5 text-center"> Near Chenab Gate Cantt</p>
			</div>
		</div>
		<div class="item flex flex-col justify-center items-center">
			<span class="mb-2.5 sm:mb-6"><img src="{% static 'image/ph.png' %}" alt=""></span>
			<p class="libertinus-sans-regular text-[40px] my-5 opacity-60">Our Phone</p>
			<div>

				<p class="font-semibold w-48.5 text-center ">Phone: +92 335 0729306
				</p>
				<p class="font-semibold w-48.5 text-center">Mobile: +92 335 6599132</p>
			</div>
		</div>
		<div class="item flex flex-col justify-center items-center">
			<span class="mb-2.5 sm:mb-6"><img src="{% static 'image/watch.png' %}" alt=""></span>
			<p class="libertinus-sans-regular text-[40px] my-5 opacity-60">Working Hours</p>
			<div>

				<p class="font-semibold  text-center ">
					Monday — Saturday : 9:00 – 18:00
				</p>
			</div>
<p class="font-semibold w-48.5 text-center"> Sunday : holiday</p>
		</div>
		<div class="item flex flex-col justify-center items-center ">
			<span class="mb-2.5 sm:mb-6 "><img src="{% static 'image/email.png' %}" alt=""></span>
			<p class="libertinus-sans-regular text-[40px] my-5 opacity-60">E-Mail Address</p>
		<div>

			<p class="font-semibold  text-center ">ahmadhassanmufti015@gmail.com</p>
			<br>
		</div>
		</div>
		
		


		
	</div>

	
		<iframe class="responsive-iframe rounded-xl mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.7834268003567!2d72.7177987!3d30.892719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922e195758dd1f9%3A0xf022e121e5761e9c!2sAhmad%20Gas%20Center!5e0!3m2!1sen!2s!4v1754218253878!5m2!1sen!2s"  style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	
  
<div class="py-6 flex flex-col justify-center ">
  <div class="relative py-3 sm:max-w-3xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-indigo-700 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
    ></div>
    <div
      class="text-white relative px-4 py-10 bg-indigo-400 shadow-lg sm:rounded-3xl sm:p-20"
    >
      <div class="text-center pb-6">
        <h1 class="text-3xl sm:text-5xl">Contact Us!</h1>

        <p class="text-gray-300 sm:text-2xl">
          Fill up the form below to send us a message via Email.
        </p>
      </div>

      <form class="" action="/contact" method="post">
        {% csrf_token %}

        <input
          class="shadow mb-4 sm:text-xl appearance-none border rounded w-full py-2 px-3 bg-white text-black"
          type="text"
          placeholder="Name"
          name="name"
        />

        <input
          class="shadow mb-4 sm:text-xl appearance-none border rounded w-full py-2 px-3 bg-white text-black"
          type="email"
          placeholder="Email"
          name="email"
        />

        <input
          class="shadow mb-4 sm:text-xl appearance-none border rounded w-full py-2 px-3 bg-white text-black"
          type="text"
          placeholder="Subject"
          name="_subject"
        />

        <textarea
          class="shadow mb-4 min-h-0 sm:text-lg appearance-none border rounded h-64 w-full py-2 px-3 bg-white text-black"
          type="text"
          placeholder="Type your message here..."
          name="message"
          style="height: 121px"
        ></textarea>

        <div class="flex justify-between">
          <input
            class="shadow bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            value="Send ➤"
          />
          <input
            class="shadow bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="reset"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
